@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<a href="counter#boo">Link to boo</a>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate augue vitae tortor ullamcorper, eu ultricies metus condimentum. Duis ultricies semper sem, ac ornare erat gravida et. Donec at venenatis nulla. Vestibulum facilisis enim eget enim vestibulum, sit amet auctor massa dignissim. Suspendisse tempus sapien ipsum, non efficitur lacus tristique in. Nullam quam nunc, congue efficitur leo et, venenatis rutrum sem. Donec suscipit facilisis diam id tempor. Vivamus at interdum purus. Cras suscipit ante non auctor rutrum. In blandit ullamcorper erat euismod malesuada. Etiam sollicitudin eu nunc vitae luctus. Donec tempor lectus lacus, et sollicitudin dolor mattis vitae. Suspendisse ornare ac sapien in venenatis. Phasellus accumsan justo a ullamcorper aliquam. Suspendisse commodo, erat nec iaculis lacinia, odio magna pellentesque nisi, sed hendrerit nisi justo in arcu. Ut id erat lorem.
</p>
<p>
    Curabitur nisl sem, commodo ut nibh vel, volutpat accumsan mauris. Vestibulum pretium erat ac feugiat faucibus. Aliquam a metus molestie, rutrum lectus in, fermentum mi. Vivamus quis pellentesque lorem. Quisque vel laoreet tortor. Integer bibendum sodales porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum tempus convallis posuere. Vestibulum dictum imperdiet tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a lacus ligula. Aenean enim eros, auctor ac gravida vel, aliquam et libero. Sed pretium id leo id tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>
<p>
    Fusce at velit id lacus lacinia sagittis. Nunc ornare egestas mauris, eget dignissim ex ullamcorper vitae. Sed egestas tortor at feugiat accumsan. Etiam nec consequat magna, vitae luctus magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vel facilisis enim. Vestibulum malesuada felis in purus volutpat, at blandit erat imperdiet. Sed iaculis risus vitae massa tincidunt, quis rhoncus elit consectetur. Cras urna velit, pharetra ut augue ut, eleifend vehicula eros. Mauris lacinia, nibh quis mollis aliquam, risus nulla elementum nisi, a ornare dui justo nec purus. Suspendisse viverra tempor tellus, id hendrerit ipsum sollicitudin nec. Praesent at lorem luctus, vulputate felis eu, rutrum arcu. Nunc quis leo non nisi dignissim congue sit amet quis nunc. Aliquam erat volutpat.
</p>
<p>
    Cras ut dignissim ante. Vivamus nunc nisl, vulputate eget diam et, sollicitudin tempus justo. Sed sed lobortis dolor. Nulla lacinia odio in ex auctor, sit amet fermentum dui auctor. Vestibulum efficitur congue tellus eu ultrices. Praesent consequat nunc nec sem mattis iaculis. Aenean id condimentum massa. Pellentesque congue nisi ipsum, vitae semper eros tempor eleifend. Ut eu interdum ex. Vivamus volutpat tellus ac leo cursus imperdiet. Praesent suscipit, magna nec condimentum laoreet, purus nunc luctus elit, ac gravida massa tortor in turpis. Nam nunc nulla, rutrum hendrerit tempor et, consequat ac nibh. Pellentesque aliquet urna lorem, et vehicula ligula ullamcorper sed. Pellentesque non sapien volutpat, placerat ligula eu, rutrum orci.
</p>
<p>
    Integer pretium nisi vel enim congue, id auctor arcu mattis. Suspendisse potenti. Suspendisse potenti. Fusce congue dapibus velit, hendrerit ornare lorem iaculis non. Curabitur facilisis commodo turpis, eget feugiat tortor semper vel. Nunc consequat metus dui, eget egestas est facilisis in. Fusce eleifend, massa at rhoncus lacinia, justo lectus varius orci, porttitor varius magna ligula vitae elit. Ut vel sem in diam ultricies ultrices. Donec lobortis lacus sit amet posuere blandit. Aenean ac commodo tortor. Donec facilisis tempus mollis. Pellentesque eu scelerisque massa. Etiam vehicula non nisi et volutpat. Nullam dignissim massa lacus.
</p>

<h1 id="boo">test</h1>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
